/* 
    Flexbox

    Es un sistema de distribucion de container, donde se declara a un contenedor
    como flexible a modo de poder distribuir sus hijos directos.

    Para hacer flexible un container, vamos adeclarar un display, es decir que
    flex es un valor posible de la propiedad display.

    Una vez que declaramos como flexible un contenedor, un puñado de propiedades
    se habilitan para ese contenedor. Propiedades que no se pueden aplicar a un
    elemento no declarado como flexible.

    ¿Cuales son esas propiedades?
    -> flex-direction: Permite declarar el orden de los hijos como filas o
    como columnas. Es posible aplicarlo de manera reversa.
    -> justify-content: Nos permite distribuir los elementos en el eje X del 
    contenedor.
    -> align-items: Nos permite distribuir los elementos en el eje Y del contenedor.
    -> flex-wrap: Nos permite decidir que queremos que cuando los hijos del contenedor
    no entren dentro del ancho del dispositivo, estos empiecen a pasarse o no
    a la fila siguiente.

    Aclaracion: Tambien es posible movilizar los hijos por separado.
    Ya veremos como hacerlo.


    Tarea de investigacion:
    -> flex-grow
    -> flex-shrink
    -> flex-basis

    Pueden chusmear en www.cssreference.io
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 500px;
  width: 500px;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box {
  height: 100px;
  width: 100px;
  background-color: orange;
  border: 1px solid black;
}

.dos {
    align-self: start;
}
.tres {
    align-self: end;
}