/* 
    COLORES 
    
    rgb -> red green blue -> rgb(red, green, blue)

    hexadecimal -> 0 1 2 3 4 5 6 7 8 9 A B C D E F -> #3b 45 cd
                                                     
    hsl -> hue (matiz) Saturation (saturacion) Lightness (brillos)
            0 - 360         0 - 100                 0 - 100%
*/


/* div {
    height: 200px;
    width: 200px;
    background-color: hsl(0, 100%, 0%);
} */

div {
    color: #844210;
}