/* 
    DIMENSIONES

    Nos permites establecer medidas de tamaño para nuestros elementos html o textos.

    ABSOLUTAS -> Son aquellas que tienen un valor por si mismas.
        -> kg
        -> cm
        -> px

    RELATIVAS -> Son aquellas que dependen de una medida absoluta para tener valor.
        -> %
        -> viewport (viewport height, viewport width)
        -> rem, em
*/

/********** MEDIDAS ABSOLUTAS ************/
/* div {
    background-color: blue;
    height: 200px;
    width: 200px;
    display: inline-block;
}

span {
    background-color: orange;
    display: block;
} */




/********** MEDIDAS RELATIVAS ************/
/* .padre {
    background-color: aqua;
    width: 800px;
    height: 800px;
}
.hijo {
    background-color: orange;
    height: 50%;
    width: 50%;
} */

/* * {
    margin: 0;
}

section {
    background-color: green;
    width: 100%;
    height: 100vh;
}
article {
    background-color: white;
    width: 100%;
    height: 100vh;
} */

/* html {
    font-size: 12px; 
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
} */


/* .rebelde {
    font-size: 20px;
}

.rebelde h1 {
    font-size: 2em;
}
.rebelde h2 {
    font-size: 1.75em;
}
.rebelde h3 {
    font-size: 1.5em;
}
.rebelde h4 {
    font-size: 1.25em;
} */