

/* .container {
    width: 400px;
    height: 400px;
    background-color: pink;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpbVL-s0ctbmSfJJs6X9dZNNJn4EIfJa6_UA&s);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 77% 50%;
}

.filter {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: white;
    font-size: 3rem;
    text-align: center;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://wallpapers.com/images/featured/darth-vader-4k-spxbi8jmroon9uht.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section {
    height: 100vh;
    width: 100%;
}

.home {
    background-color: rgba(0, 0, 0, 0.5);
}
.solid {
    background-color: white;
}
.transparent {
    background-color: rgba(255, 255, 0, 0.5);
}