/* 
    MODELO DE CAJAS
    -> Contenido (todo texto o elemento que coloquemos dentro de nuestra caja)
    -> Border (Nos ayuda a delimitar el container)
    -> Padding (Todo aquello que se encuentra dentro del container excepto texto
    y elementos)
    -> Margin (Es el espacio circundante al contianer, por fuera de los bordes)
*/

.container {
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    color: white;
    margin: 50px;
}
.container2 {
    width: 400px;
    height: 400px;
    background-color: brown;
    color: white;
    
}