/*
    POSITIONING

    Es una propiedad de CSS que nos permite desencajar un contendor pasandolo
    del plano bidimensional (x,y) al plano tridimensional (x,y,z)

    Al descajar el elemento, ya no ocupa espacio en el plano bidimensional permitiendo
    a los elementos que estaban siendo empujados por este, tomar su lugar.
    
    El elemento descajado puede ser reubicado manualmente a cualquier parte del
    viewport que nosotros deseemos. Incluso puede ser fijado en algun lugar en
    especifico.

    Tipo de posicionamiento:
        -> Absoluto (Se posiciona relativo a los margenes del viewport, pero fijado al body)
        -> Relativo (Se posiciona relativo a los margenes de su contendor padre)
        -> Fijado (Similar al absoluto pero queda fijado al viewport)
*/

/* .container {
    background-color: aqua;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 150px;
    left: 50px;
} */
/* .hijo {
    background-color: orange;
    width: 100px;
    height: 100px;
    position: relative;
    left: 100px;
    top: 200px;
} */
/* .container2 {
    background-color: red;
    position: absolute;
    top: 100px;
    z-index: 3;
}
.container3 {
    background-color: blue;
    position: absolute;
    z-index: 1;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: purple;
    height: 10vh;
    position: fixed;
    width: 100%;
}

img {
    width: 80px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    transition: 0.3s;
}
img:hover {
    transform: scale(1.25);
}

section {
    height: 100vh;
}
.uno {
    background-color: yellow;
}
.dos {
    background-color: lightseagreen;
}